---
layout: home
style: home
---

<ul>
  {% for post in site.posts %}
    <li class="post-placement {{ post.category }} {% if post.reference %}reference{% else %}longform{% endif %}">
		<div class="post-holder" itemscope itemtype="http://schema.org/Article">
			<h1 itemprop="name"><a href="{{ post.url }}.html" itemprop="url">{{ post.title }}</a></h1>
			{% if post.snippet %}
			<p class="post-description" itemprop="description">{{ post.snippet }}</p>
			{% endif %}
			<p class="post-date" itemprop="dateCreated">{{ post.date }}</p>
		</div>
    </li>
  {% endfor %}
</ul>
