@color: #990000;
@color-accent: hsl(hue(@color), 3%, lightness(#eee));
@color-text: hsl(hue(@color), 3%, lightness(#333));
@content-width: 700px;
@content-gutter: 30px;

@font-face {
	font-family: 'lttp';
	src:url('lttp.eot');
	src:url('lttp.eot?#iefix') format('embedded-opentype'),
		url('lttp.ttf') format('truetype'),
		url('lttp.woff') format('woff'),
		url('lttp.svg#lttp') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	background: white;
	font-family: "Alegreya Sans";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	#site-brand {
		height: (@content-gutter * 3);
		display: block;
		width: @content-width;
		margin: auto;
		text-decoration: none;
		color: @color;
		text-align: center;
		line-height: 90px;
		.site-logo {
			&:before {
				font-family: lttp;
				content: "\e601";
				font-size: 32px;
				transition: font-size .5s ease;
			}
			&:hover {
				&:before {
					font-size: 64px
				}
			}
		}
		.site-name {
			display: none;
		}
	}
	article {
		display: block;
		margin: 30px auto 0 auto;
		width: @content-width;
		h1 {
			font-size: 36px;
			a { 
				color: #333; 
				text-decoration: none;
				-webkit-transition: color .5s ease;
				&:hover {
					color: @color
				}
			}
		}
		p, li {
			font-size: 16px;
			line-height: 24px;
			color: #111;
			b, strong { color: #000 }
			a { 
				color: @color; 
				text-decoration: none;
				-webkit-transition: color .5s ease;
				&:hover {
					color: lighten(@color, 5%);
				}
			}
		}
		blockquote {
			border-left: 3px solid @color-accent;
			padding: 0 15px;
			margin: 10px;
		}
	}
	section {
		width: @content-width;
		display: block;
		margin: auto;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				width: ((@content-width - @content-gutter) / 2);
				margin: 0; padding: 0;
				cursor: pointer;
				.post-holder {
					border-bottom: 1px dotted #ccc;
					padding: @content-gutter 0;
					margin-bottom: -1 * @content-gutter;
					&:hover {
						h1 { a { color: mix(@color, #333); } }
						p { color: mix(@color, #666) }
					}
					h1 {
						display: inline;
						font-size: 18px;
						a {
							color: #333;
							text-decoration: none;
							-webkit-transition: color ease .5s
						}
					}
					p {
						display: inline;
						font-size: 16px;
						color: #666;
						&:before { content: "—"; }
						-webkit-transition: color ease .5s
					}
					.post-date { display: none; }
				}
			}
		}
	}
}