@color: #990000;
@color-accent: hsl(hue(@color), 3%, lightness(#eee));
@color-text: hsl(hue(@color), 3%, lightness(#333));
@content-width: 700px;
@content-gutter: 30px;

@font-face {
	font-family: 'lttp';
	src:url('lttp.eot');
	src:url('lttp.eot?#iefix') format('embedded-opentype'),
		url('lttp.ttf') format('truetype'),
		url('lttp.woff') format('woff'),
		url('lttp.svg#lttp') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	background: white;
	font-family: "Alegreya Sans";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    .social-icons {
        text-align: center;
        margin: 50px auto;
        a {
            text-decoration: none;
            display: inline-block;
            padding: 3px 7px;
            border: #eee 1px solid;
            border-radius: 2px;
            font-size: .9em;
            color: #555;
            background: #f4f4f4;
            margin: 0 3px;
        }
    }
	#site-brand {
		height: (@content-gutter * 3);
		display: block;
		width: @content-width;
		margin: auto;
		text-decoration: none;
		color: @color;
		text-align: center;
		line-height: 90px;
		.site-logo {
			&:before {
				font-family: lttp;
				content: "\e601";
				font-size: 32px;
				transition: font-size .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
			}
			&:hover {
				&:before {
					font-size: 64px
				}
			}
		}
		.site-name {
			display: none;
		}
	}
	article {
		display: block;
		margin: 30px auto 0 auto;
		width: @content-width;
		h1 {
			font-size: 36px;
			a { 
				color: #333; 
				text-decoration: none;
				transition: color .5s ease;
				&:hover {
					color: @color
				}
			}
		}
		p, li {
			font-size: 16px;
			line-height: 24px;
			color: #111;
			b, strong { color: #000 }
			a { 
				color: @color; 
				text-decoration: none;
				transition: color .5s ease;
				&:hover {
					color: lighten(@color, 5%);
				}
			}
		}
		blockquote {
			border-left: 3px solid @color-accent;
			padding: 0 15px;
			margin: 10px;
		}
		.references {
			font-size: .9em;
			a {
				background: @color-accent;
				color: darken(@color-accent, 80%);
				padding: 3px 7px;
				text-decoration: none;
				display: inline-block;
				margin: 0 5px;
				transition: background .5s ease;
				&:hover {
					background: darken(@color-accent, 3%);
				}
			}
		}
        video {
            @overlap: 100px;
            margin-left: (-1 * @overlap / 2);
            width: @content-width + @overlap;
            height: auto;
            box-shadow: rgba(0,0,0,.3) 0 0 10px;
            border-radius: 2px;
            overflow: hidden;
        }
	}
	section {
		width: @content-width;
		display: block;
		margin: auto;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				width: ((@content-width - @content-gutter) / 2);
				margin: 0; padding: 0;
				cursor: pointer;
				opacity: 0;
                transform: scale(1.1);
				&.state-loaded {
					opacity: 1;
                    transform: scale(1);
				}
				transition: opacity 500ms ease, transform 400ms ease;
				.post-holder {
					border-bottom: 1px dotted #ccc;
					padding: @content-gutter 0;
					margin-bottom: -1 * @content-gutter;
					&:hover {
						h1 { a { color: mix(@color, #333); } }
						p { color: mix(@color, #666) }
					}
					h1 {
						display: inline;
						font-size: 18px;
						a {
							color: #333;
							text-decoration: none;
							transition: color ease .5s;
						}
					}
					p {
						display: inline;
						font-size: 16px;
						color: #666;
						&:before { content: "—"; }
						transition: color ease .5s;
					}
					.post-date { display: none; }
				}
			}
		}
	}
    .site-nav {
        position: fixed;
        top: 50%;
        height: 60px;
        margin-top: -30px;
        max-width: 60px;
        overflow: hidden;
        background: #eee;
        border-radius: 30px;
        box-sizing: border-box;
        text-decoration: none;
        color: #888;
        transition: transform ease .5s .1s, max-width ease .5s;
        span {
            transition: opacity ease .5s .1s, margin ease .5s;
            opacity: 0;
            line-height: 60px;
        }
        &:hover {
            max-width: 420px;
            transform: scale(1.1);
            span {
                opacity: 1
            }
        }
        &.site-nav-next{
            left: 50%;
            margin-left:-460px;
            span {
                margin-left: 60px;
                margin-right: 20px
            }
            &:before {
                content: "«";
                position: absolute;
                line-height: 55px;
                font-size: 60px;
                width: 60px;
                text-align: center;
                color: #fff;
                left: 0;
            }
        }
        &.site-nav-prev{
            right: 50%;
            margin-right:-460px;
            span {
                margin-right: 20px;
                margin-left: 60px
            }
            &:after {
                content: "»";
                position: absolute;
                line-height: 55px;
                font-size: 60px;
                width: 60px;
                text-align: center;
                color: #fff;
                right: 0;
                top: 0
            }
            &:hover span {
                margin-right: 60px;
                margin-left: 20px
            }
        }
    }
}
