@font-face {
  font-family: 'lttp';
  src: url('lttp.eot');
  src: url('lttp.eot?#iefix') format('embedded-opentype'), url('lttp.ttf') format('truetype'), url('lttp.woff') format('woff'), url('lttp.svg#lttp') format('svg');
  font-weight: normal;
  font-style: normal;
}
#site-brand {
  background: #ededee;
  height: 90px;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  color: #b8babc;
  position: relative;
  -webkit-transition: linear .25s all;
}
#site-brand:hover a {
  opacity: 1;
  margin: -18px 0 0 -70px;
}
#site-brand:hover .site-logo {
  margin: -18px 0 0 -105px;
}
#site-brand .site-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -18px 0 0 -15px;
  -webkit-transition: linear .25s all;
  display: block;
}
#site-brand .site-logo:before {
  font-family: lttp;
  content: "\e601";
}
#site-brand a {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #b8babc;
  text-decoration: none;
  height: 36px;
  overflow: hidden;
  display: block;
  opacity: 0;
  margin: -18px 0 0 20px;
  -webkit-transition: linear .25s margin;
}
body {
  font-family: "Alegreya Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}
body.article article {
  width: 700px;
  margin: auto;
}
body.home {
  background: #ededee;
}
body.home section {
  width: 700px;
  margin: auto;
}
body.home section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body.home section ul li {
  width: 335px;
  cursor: pointer;
  -webkit-transition: linear .25s all;
}
body.home section ul li:hover {
  box-shadow: #b8babc 0 0 10px;
}
body.home section ul li .post-holder {
  border-radius: 2px;
  background: #ffffff;
  box-shadow: #b8babc 0 1px 3px;
  padding: 15px;
}
body.home section ul li .post-holder h1 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
body.home section ul li .post-holder h1 a {
  text-decoration: none;
  color: #6a6e71;
}
body.home section ul li .post-holder p {
  padding: 0;
  margin: 5px 0 0 0;
  color: #777a7e;
  font-size: 15px;
}
body.home section ul li .post-holder .post-date {
  display: none;
}
