---
layout: meta
style: article
---

<article itemscope itemtype="http://schema.org/BlogPosting">

	{% if page.reference %}
	<h1><a itemprop="name" href="{{ page.reference }}">{{page.title | xml_escape}}</a></h1>
	{% else %}
	<h1><a itemprop="name" href="/{{ page.permalink }}">{{page.title | xml_escape}}</a></h1>
	{% endif %}
	
	{{content}}
	
	<!--<p>by <span itemprop="author">{{page.author}}</span>-->
	
	{% if page.references %}
		<div class="references">Reference 
			{% for ref in page.references %}
				{% assign words = ref | split: '|' %}
				<a href="http://{{ words[0] }}" target="_blank">{{ words[1] }}</a> 
			{% endfor %}
		</div>
	{% endif %}
	
</article>
<div class="comments">    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'latetothepartyco'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a></div>
