---
layout: meta
style: article
---

<article itemscope itemtype="http://schema.org/BlogPosting">

	{% if page.reference %}
	<h1><a itemprop="name" href="{{ page.reference }}">{{page.title | xml_escape}}</a></h1>
	{% else %}
	<h1><a itemprop="name" href="/{{ page.permalink }}">{{page.title | xml_escape}}</a></h1>
	{% endif %}
	
	{{content}}
	
	<!--<p>by <span itemprop="author">{{page.author}}</span>-->
	
	{% if page.references %}
		<div class="references">Reference 
			{% for ref in page.references %}
				{% assign words = ref | split: '|' %}
				<a href="http://{{ words[0] }}" class="reference">{{ words[1] }}</a> 
			{% endfor %}
		</div>
	{% endif %}
	
</article>