---
layout: none
---
<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<!--<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:100,400,700,400italic,700italic' rel='stylesheet' type='text/css'>-->
		<link href="/interface/main.css" rel="stylesheet" type="text/css">
		{% if page.title == undefined %}
			<title>{{ site.name }}</title>
		{% else %}
			<title>{{ page.title }} &mdash; {{ site.name }}</title>
		{% endif %}		
		<link rel="canonical" href="{{ page.url }}"/>
	</head>
	<body class="{{ page.style }}">
		<div id="site-brand">
			<div class="site-logo"></div>
			<a href="/">Late to the Party</a>
		</div>
		{{content}}
		<script src="/interface/main.js"></script><!---->
	</body>
</html>


