---
layout: none
---
<!DOCTYPE html>
<html lang="en-US">
	<head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
		<meta charset="UTF-8">
		<link href="/interface/fonts.css" rel="stylesheet" type="text/css">
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-38685832-1', 'latetotheparty.co');
            ga('require', 'displayfeatures');
			ga('send', 'pageview');
        </script>
		{% if page.title == undefined %}
			<title>{{ site.name }}</title>
		{% else %}
			<title>{{ page.title }} &mdash; {{ site.name }}</title>
		{% endif %}
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="apple-touch-icon" href="/interface/icon-152.png">
        <link rel="icon" href="/interface/icon-96.png">
        <!--[if IE]><link rel="shortcut icon" href="/interface/icon-48.ico"><![endif]-->
        <meta name="msapplication-TileColor" content="#990000">
        <meta name="msapplication-TileImage" content="/interface/icon-144.png">
        <!-- Metadata -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        {% if page.excerpt != undefined %}<meta name="description" content="{{ page.excerpt }}">{% endif %}
		{% if page.categories != undefined %}<meta name="keywords" content="{% for category in page.categories %}{{ category }},{% endfor %}">{% endif %}
		<meta name="author" content="{{ page.author }}">
		<link rel="canonical" href="{{ site.url }}{{ page.url }}/"/>
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@nathanziarek">
        <meta name="twitter:creator" content="@nathanziarek">
        <meta name="twitter:title" content="{{ page.title }}">
        <meta name="twitter:description" content="{{ page.excerpt | replace: '"', '\"' }}">
        <meta name="twitter:domain" content="{{ site.url }}">
        <meta name="twitter:image" content="{{ site.url }}/interface/icon-512.png">
        <meta property="twitter:account_id" content="4503599628005006" />
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="{{ site.url }}{{ page.url }}/" />
        <meta property="article:author" content="http://www.linkedin.com/in/nathanziarek" />
        <meta property="article:author" content="https://www.facebook.com/nathanziarek" />
		{% if page.categories != undefined %}<meta property="article:tag" content="{% for category in page.categories %}{{ category }},{% endfor %}">{% endif %}
        <link rel="alternate" type="application/rss+xml" title="Late to the Party" href="{{ site.url }}/rss.xml" />
	</head>
	<body class="{{ page.style }}">
		<a href="/" id="site-brand">
			<div class="site-logo"></div>
			<div class="site-name">Late to the Party</div>
		</a>
		{{content}}
		<div class="social-icons">
			<a href="https://plus.google.com/108120786603469208780" rel="author">Google +</a>
			<a href="http://www.twitter.com/nathanziarek">Twitter</a>
			<a href="http://linkedin.com/in/nathanziarek">LinkedIn</a>
		</div>
        <link href="/interface/main.css" rel="stylesheet" type="text/css">
		<script src="/interface/main.js"></script>
	</body>
</html>


