---
layout: none
---
<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		{% if page.title == undefined %}
			<title>{{ site.name }}</title>
		{% else %}
			<title>{{ page.title }} &mdash; {{ site.name }}</title>
		{% endif %}		
		<link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700' rel='stylesheet' type='text/css'>
		<link href="/interface/main.css" rel="stylesheet" type="text/css">
	</head>
	<body class="{{ page.style }}">
		<!--design header-->
		{{content}}
		<!-- design footer-->
		<script src="/interface/main.js"></script>
	</body>
</html>


